.layout {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 200px;
    height: 300px;
    border-radius: 25px;
}

.row1 {
    display: flex;
    gap: 3px;
}

.row2 {
    display: flex;
    gap: 3px;
}

.row3 {
    display: flex;
    gap: 3px;
}

.row4 {
    display: flex;
    gap: 3px;
}

button {
    width: 35px;
    height: 35px;
}