.layout {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 250px;
    height: 300px;
    border-radius: 25px;
    background-color: rgb(41, 56, 124);
}

.row1 {
    display: flex;
    gap: 3px;
}

.row2 {
    display: flex;
    gap: 3px;
}

.row3 {
    display: flex;
    gap: 3px;
}

.row4 {
    display: flex;
    gap: 3px;
}

#zero-button {
    width: 75px;
}

#decimal {
    width: 75px;
}

button {
    width: 35px;
    height: 35px;
    background-color: rgb(160, 193, 255);
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

.display {
    border: 2px solid black;
    width: 175px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(6, 73, 64);
}